a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* 画面上部の「人生を変えるフリマアプリ」帯部分 */
.title-contents {
  width: 100vw;
  background-image: image-url('furima-header01.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

/* //画面上部の「人生を変えるフリマアプリ」帯部分 */




/* 商品一覧 */
.project-contents {
  font-size: 5vh;
  text-decoration: none;
  align-items: center;
  padding: 5vh 5vw;
  background-color: rgb(134, 146, 144);
}

.project-titles {
  background-color: rgb(134, 146, 144);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.project-titles>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
  border-radius: 10px;
  border: solid 5px #a417a0;
  background-color: #a1e7e3;
}

.project-titles>.subtitle {
  width: 140px;
  background-color: #a1e7e3;
  text-align: center;
  // position: fixed;　⬅︎スクロールと同時に移動する記述
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: solid 5px #ff1e1e;
}

.link{
  display: block;
}
.project-groups {
  flex-wrap: wrap;
  padding: 8px 5vw;
  margin: 3vh 0;
  border: solid 3px #36c83d;
  background-color: #f8f8f8;
}

.groups-title {
  margin: 3vh;
  font-weight: bold;
  text-decoration: none;
  font-size: 5vh;
  border: solid 3px #36c83d;
  border-radius: 10px;
  display:inline-block;
  background-color: rgb(193, 255, 148);
}

.groups-detail {
  height: 210px;
  font-size: 3vh;
  padding: 1vw;
  border: solid 4px #36c83d;
  border-radius: 10px;
  overflow-y: scroll;
  background-color: rgb(186, 178, 228);
}

.detail-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(75, 71, 71); /* 境界線を作成 */
  border-radius: 10px;
  padding: 10px; /* 行と境界線の間の余白を設定 */
  margin-bottom: 10px; /* 行と行の間の余白を設定 */
  background-color: rgb(252, 251, 255);
}

.btn-primary-custom,
.btn-delete-custom {
  display: inline-block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-delete-custom {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-primary-custom:hover,
.btn-delete-custom:hover {
  color: #fff;
  text-decoration: none;
  background-color: #0069d9;
  border-color: #0062cc;
}









.project-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.project-name {
  font-size: 2.5vh;
}

.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

/* //商品一覧 */
